<h1>MAKALU IMPRESORAS</h1>

<h3>Si no tienes cuenta puedes registrarte</h3>
<a href="/register"><button
    class="btn btn-outline-success w-25"
  >Registrarse</button></a>

<h3>¿Ya tienes cuenta? inicia sesión</h3>
<a href="/login"><button class="btn btn-outline-success w-25">Iniciar sesión</button></a>